html { 
    background: url("photos/bgimg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.container {
    display: flex;
    height: 500px;
    width: 800px;
    object-fit: cover; 
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 5%;
    box-shadow: 15px 15px 20px black;
}
.container-2 {
    display: flex;
    height: 750px;
    width: 1000px;
    object-fit: cover; 
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 2%;
    box-shadow: 15px 15px 20px black;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
.form-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}
.form-3 h2 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
    color: rgb(124, 100, 231);
}

.form h2 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
    color: rgb(124, 100, 231);
}

.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid rgb(124, 100, 231);
    outline: none;
    border-radius: 5px;
}

#submit {
    padding: 12px 30px;
    width: 60%;
    margin-top: 30px;
    background-color: rgb(124, 100, 231);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}

#submit:hover{
    cursor: pointer;
    background-color: blueviolet;

}

#p-login {
    margin-top: 30px;
}
.form a {
    text-decoration: none;
    color: black;
}

.form a:hover{
    color: #5f49db;
}


.side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: black;
}

.side img{
    width: fit-content;
    height: 498px;
}
.side-2 img{
    margin: 0;
    width:500px;
    height: 750px;
}
.flex-1 {
    flex: 1;

}


.btn-1 {
    display: block;
    text-align: center;
    padding: 12px 30px;
    margin-top: 10px;
    text-decoration: none;
    background-color: rgb(124, 100, 231);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}

.btn-1:hover{
    cursor: pointer;
    background-color: blueviolet;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#color-g input[type=number] {
  appearance: textfield;
}

.color-g input:valid,
textarea:valid {
    border-color: rgb(103, 204, 103);
}
.color-g input[type=text]:focus,
.color-g input[type=email]:focus,
.color-g input[type=password]:focus,
.color-g input[type=number]:focus
 {
    border-color: #ce1515;
  }



.rating {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.rating-star {
    font-size: 2em;
    cursor: pointer;
    color: #ccc;
    user-select: none;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating[data-hover-rating] .rating-star[data-hovered] {
    color: rgb(124, 100, 231);
}

.review-container {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .review h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .review p {
    margin: 0;
  }
  
  .review .rating {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .review hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
