html { 
    background: url("photos/bgimg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.container {
    display: flex;
    height: 500px;
    width: 800px;
    object-fit: cover; 
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 5%;
    box-shadow: 15px 15px 20px black;
}
.container-2 {
    display: flex;
    height: 750px;
    width: 1000px;
    object-fit: cover; 
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 2%;
    box-shadow: 15px 15px 20px black;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
.form-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}
.form-3 h2 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
    color: rgb(124, 100, 231);
}

.form h2 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
    color: rgb(124, 100, 231);
}

.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid rgb(124, 100, 231);
    outline: none;
    border-radius: 5px;
}

#submit {
    padding: 12px 30px;
    width: 60%;
    margin-top: 30px;
    background-color: rgb(124, 100, 231);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}

#submit:hover{
    cursor: pointer;
    background-color: blueviolet;

}

#delete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  
  
  

#p-login {
    margin-top: 30px;
}
.form a{
    text-decoration: none;
    color: black;
}

.form a:hover{
    color: #5f49db;
}


.side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: black;
}

.side img{
    width: fit-content;
    height: 498px;
}
.side-2 img{
    margin: 0;
    width:500px;
    height: 750px;
}