* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html { 
    background: url("photos/bgimg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.logo a{
    text-decoration: none;
    color: rgb(238, 240, 241);
}
.logo a:hover{
    color: black;
}
.logo{
    color: white;
    font-family: 'Plaster', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 40px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width:30%;
}
.nav-links li{
    list-style: none;
}

.nav-links a:hover{
    color: rgb(0, 0, 0);
}

.wel h1{
    text-align: center;
    margin: 5%;
    color: azure;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    letter-spacing: 3px;
}
.nav-links a{
    color: rgb(238, 240, 241);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}
.nav-links a:hover{
    color: black;
}
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(238, 240, 241);
    margin: 5px;

}
@media screen and (max-width: 1200px) {
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;

    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(130, 111, 236);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
    }

}

.nav-active{
    transform: translate(0%);
}

/* hoverr underline */



/* dropdown for nav */
.dropdown a{
    text-transform: capitalize;
}
.dropdown-content {
    background-color: rgb(77, 5, 136);
    display: none;
    position: absolute;
    width: 10rem;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #650abb8c;
}


.container {
    text-align: center;
    display: flex;
    height: 750px;
    width: 1000px;
    object-fit: cover; 
    margin: auto;
    margin-top: 2%;
    box-shadow: 15px 15px 20px black;
}

.form {
    display: block;
    width: 100%;
    background-color: whitesmoke;
}
.form h2 {
    
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
    color: rgb(124, 100, 231);
    box-shadow: 15px 15px 30px black;
}

.box{
    padding: 12px;
    width: 50%;
    margin: 15px;
    border: 1px solid rgb(124, 100, 231);
    outline: none;
    border-radius: 5px;
}

#submit {
    align-content: center;
    padding: 12px 30px;
    width: 60%;
    margin-top: 30px;
    background-color: rgb(124, 100, 231);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}

#submit:hover{
    cursor: pointer;
    background-color: blueviolet;

}

.child {
    text-align: center;
    float: left;
    width: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

